* {
  box-sizing: border-box;
}

.section-one {
  height: 665px;
  width: 100%;
  background: #f4f6f9 url(./assets/Frame.png) no-repeat right;
}

.section-one__container {
  padding-left: 160px;
  padding-top: 65px;
}

.section-one__container--header {
  display: flex;
  align-items: center;
  width: 100%;
}

.section-one__container--ball-icon svg {
  margin-right: 5px;
}

.section-one__container--sport-title {
  font-family: "Product Sans", sans-serif;
  font-size: 24px;
  color: #5282f0;
  font-weight: bold;
}

.section-one__container--info {
  margin-top: 130px;
}

.section-one__container--info-header {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 48px;
  width: 550px;
  font-weight: bold;
}

.section-one__container--info-text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 26px;
  width: 450px;
  margin-bottom: 50px;
}

.section-two {
  display: flex;
  height: 592px;
  width: 100%;
}

.section-two__images {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url(./assets/background2.png) no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.section-two__images-goal {
  position: absolute;
  top: 49%;
  left: 33%;
}

.section-two__images-match {
  position: absolute;
  top: 13%;
  left: 12%;
}

.section-two__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-two__info-blue {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #00adee;
  font-weight: bold;
}

.section-two__info-blue:nth-of-type(1) {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.section-two__info-blue a:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: underline;
}

.section-two__info-header {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
}

.section-two__info-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}

.section-three {
  background: url(./assets/backgroud3.png);
  height: 716px;
  width: 100%;
}

.section-three--container {
  padding-left: 160px;
}

.section-three__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 217px;
  width: 480px;
}

.section-three__info-blue {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #00adee;
  font-weight: bold;
}

.section-three__info-blue:nth-of-type(1) {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.section-three__info-blue a:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: underline;
}

.section-three__info-header {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
}

.section-three__info-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}

.section-three__image {
  width: 100%;
  text-align: center;
}

.section-three__image img {
  margin-top: 80px;
}

.section-four {
  background: url(./assets/blue-background.png) #00adee;
  background-repeat: no-repeat;
  height: 735px;
  width: 100%;
}

.section-four__header {
  text-align: center;
  padding-top: 75px;
  margin-bottom: 60px;
  font-family: "Lato";
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
}

.section-four__container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.section-four__container-item {
  width: 311px;
  margin-bottom: 45px;
}

.section-four__container-item--svg1 {
  margin-bottom: 16px;
}

.section-four__container-item--svg2 {
  margin-bottom: 14px;
}

.section-four__container-item--svg3 {
  margin-bottom: 16px;
}

.section-four__container-item--svg4 {
  margin-bottom: 17px;
}

.section-four__container-item--svg5 {
  margin-bottom: 14px;
}

.section-four__container-item--svg6 {
  margin-bottom: 17px;
}

.section-four__container-item--svg7 {
  margin-bottom: 8px;
}

.section-four__container-item--svg8 {
  margin-bottom: 14px;
  margin-top: 8px;
}

.section-four__container-item--svg9 {
  margin-bottom: 16px;
}

.section-four__container-item div {
  font-family: "Lato";
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}

.section-five {
  width: 100%;
  height: 430px;
}

.section-five__header {
  font-family: "Lato";
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  font-weight: 700;
  margin: 65px 0;
  color: #333333;
}

.slider {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.block-reviews {
  display: inline-flex;
  gap: 35px;
  overflow-x: scroll;
  position: relative;
}

.block-reviews::-webkit-scrollbar {
  background-color: white;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 310px;
  position: absolute;
}

.arrows img {
  cursor: pointer;
}

.arrow-left {
  left: 0;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.arrow-right {
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.reviews {
  min-width: 310px;
  height: 160px;
  border: 1px solid #828282;
  border-radius: 4px;
  padding: 15px;
}

.review-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.review-one__person {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-one__person div {
  font-family: "Lato";
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.section-five__response {
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
}

.section-five__dots {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.section-five__dot1 {
  width: 11px;
  height: 11px;
  background-color: #828282;
  border-radius: 10px;
  cursor: pointer;
}

.section-five__dot2 {
  width: 11px;
  height: 11px;
  background-color: #979595;
  border-radius: 10px;
  cursor: pointer;
}

.section-five__dot3 {
  width: 11px;
  height: 11px;
  background-color: #b2b0b0;
  border-radius: 10px;
  cursor: pointer;
}

.section-five__dot4 {
  width: 11px;
  height: 11px;
  background-color: #cdcbcb;
  border-radius: 10px;
  cursor: pointer;
}

.section-five__dot5 {
  width: 11px;
  height: 11px;
  background-color: #e2e1e1;
  border-radius: 10px;
  cursor: pointer;
}

.section-five__dot6 {
  width: 11px;
  height: 11px;
  background-color: #eeeeee;
  border-radius: 10px;
  cursor: pointer;
}

.section-six {
  width: 100%;
  height: 278px;
  background-color: #fafafa;
}

.section-six__header {
  text-align: center;
  font-family: "Lato";
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  padding-top: 55px;
  margin-bottom: 60px;
  font-weight: bold;
}

.section-six__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-six__container-image1 {
  width: 147px;
  height: 49px;
}

.section-six__container-image2 {
  width: 102px;
  height: 32px;
}

.section-six__container-image3 {
  width: 69px;
  height: 58px;
}

.section-six__container-image4 {
  width: 110px;
  height: 32px;
}

.section-six__container-image5 {
  width: 48px;
  height: 48px;
}

.section-six__container-image6 {
  width: 210px;
  height: 34px;
}

.section-seven {
  display: flex;
  width: 100%;
  height: 485px;
}

.section-seven img {
  height: 485px;
  width: 700px;
}

.section-seven__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.section-seven__container-header {
  font-family: "Lato";
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin-bottom: 35px;
  font-weight: bold;
}

.section-seven__container-info {
  font-family: "Lato";
  font-size: 16px;
  line-height: 25px;
  color: #4f4f4f;
  margin-bottom: 40px;
}

.apple-button {
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 8px;
  padding: 6px 15px;
  margin-right: 35px;
}

.apple-button--info {
  display: flex;
}

.apple-button svg {
  margin-right: 15px;
}

.apple-button--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.apple-button--top {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 12px;
}

.apple-button--bot {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 25px;
  font-weight: bold;
}

.apple-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.google-button {
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 8px;
  padding: 6px 9px;
}

.google-button--info {
  display: flex;
}

.google-button--info i {
  font-size: 35px;
  margin-right: 5px;
}

.google-button--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.google-button--top {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 12px;
}

.google-button--bot {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
}

.google-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.footer {
  width: 100%;
  height: 127px;
  background-color: #00adee;
}

.footer--container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container__left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-container__left-info {
  font-family: "Product Sans";
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  font-weight: bold;
}

.footer-container__mid {
  display: flex;
  gap: 35px;
}

.footer-container__mid div {
  font-family: "Lato";
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.footer-container__mid div:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
}

.footer-container__right {
  display: flex;
  gap: 17px;
}

.footer-container__right svg:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (max-width: 720px) {
  .section-one {
    background: #f4f6f9;
    margin-bottom: 55px;
    height: auto;
  }

  .section-one__container {
    width: 100%;
    padding: 34px 20px;
    text-align: center;
  }

  .section-one__container--header {
    justify-content: center;
  }

  .section-one__container--info {
    margin-top: 80px;
  }

  .section-one__container--info-header {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
  }

  .section-one__container--info-text {
    width: 100%;
    font-size: 16px;
  }

  .section-one__container--button-apple {
    margin-right: 28px;
  }

  .section-two {
    flex-wrap: wrap;
    height: auto;
  }

  .section-two__info {
    padding: 0 20px 65px;
    text-align: center;
  }

  .section-two__info-blue {
    margin-bottom: 25px;
  }

  .section-two__images {
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      ),
      url(./assets/background2.png);
    order: 2;
    height: 460px;
  }

  .section-three {
    background-image: none;
    height: auto;
  }

  .section-three--container {
    padding: 0 20px;
    text-align: center;
    flex-wrap: wrap;
  }

  .section-three__info {
    text-align: center;
    width: auto;
    padding-top: 50px;
  }

  .section-two__images-goal {
    width: 250px;
    left: 22%;
  }

  .section-two__images-match {
    width: 300px;
    top: 25%;
    left: -5%;
  }

  .section-four {
    background: #fafafa;
    margin-top: 50px;
    height: 1775px;
    text-align: center;
  }

  .section-four__header {
    color: #333333;
    padding-top: 45px;
  }

  .section-four__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-four__container-item div {
    color: #4f4f4f;
  }

  .section-four__container-item path {
    fill: #00adee;
  }

  .block-reviews {
    justify-content: center;
  }

  .arrow-left {
    display: none;
  }

  .arrow-right {
    background-image: none;
    width: auto;
  }

  .section-six {
    margin-bottom: 30px;
    height: auto;
    padding-bottom: 20px;
  }

  .section-six__container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
  }

  .section-seven {
    flex-wrap: wrap;
    height: auto;
  }

  .section-seven__image {
    order: 2;
  }

  .section-seven__image img {
    max-width: 100%;
    height: auto;
  }

  .section-seven__container {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 50px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .apple-button {
    padding: 6px 15px;
  }

  .google-button {
    padding: 6px 15px;
  }

  .apple-button--info svg {
    width: 20px;
    margin-right: 10px;
  }

  .apple-button--bot {
    font-size: 17px;
  }

  .google-button--info i {
    font-size: 23px;
    margin-top: 6px;
    margin-right: 7px;
  }

  .google-button--bot {
    font-size: 17px;
  }

  .footer {
    height: auto;
    margin-top: -3px;
  }

  .footer--container {
    flex-wrap: wrap;
    padding: 45px 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-container__left {
    margin-bottom: 10px;
  }

  .footer-container__mid {
    column-gap: 20px;
    order: 3;
  }

  .footer-container__right {
    margin-bottom: 30px;
  }
}
