.pink-container {
  background: #ed4c5c;
  width: 1440px;
  height: 500px;
  color: #ffffff;
}

.pink-container__blocks {
  display: flex;
}

.pink-container__block-one {
  display: flex;
  flex-direction: column;
  padding: 122px 81px 111px 163px;
}

.pink-container__block-two {
  padding-top: 94px;
  padding-bottom: 95px;
}
.pink-container__page-title {
  width: 445px;
  height: 107px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 24px;
}

.pink-container__page-explanation {
  width: 445px;
  height: 64px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 44px;
}

.pink-container__downloadings {
  width: 134px;
  height: 32px;
}

.contact-container {
  width: 1440px;
  height: 500px;
}

.contact-container__blocks {
  display: flex;
}
.contact-container__left-block {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 160px;
  padding: 117px 114px 223px 176px;
}

.contact-container__heading {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 60px;
}

.contact-container__question {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #000000;
}

.contact-container__right-block {
  display: flex;
  flex-direction: column;
  padding-top: 117px;
  padding-right: 165px;
  padding-bottom: 123px;
}

.contact-container__name {
  display: flex;
}

.contact-container__first-name {
  width: 255px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-right: 30px;
  margin-bottom: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  padding: 21px 146px 20px 31px;
}

.contact-container__last-name {
  width: 255px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  padding: 21px 146px 20px 31px;
}

.contact-container__phone-number {
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-bottom: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  padding: 21px 403px 20px 31px;
}

.contact-container__services {
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-bottom: 27px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  padding: 20px 30px;
}

.contact-container__submit-button {
  width: 160px;
  height: 50px;
  background: #ed4c5c;
  border: none;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-container__submit-button:hover {
  background: #db4655;
}