
.page-header {
  display: flex;
}

.page-header__rectangles {
  display: flex;
}

.page-header__rectangle-violet {
  width: 20px;
  height: 20px;
  background: #9c69e2;
  border-radius: 20px;
  margin: 77px 4px 143px 240px;
}

.page-header__rectangle-pink {
  width: 20px;
  height: 35px;
  background: #f063b8;
  border-radius: 20px;
  margin: 62px 121px 143px 5px;
}

.page-header__info {
  display: flex;
}

.page-header__about {
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin: 65px 40px 145px 0px;
}

.page-header__help {
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin: 65px 40px 145px 0px;
}

.page-header__features {
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin: 65px 40px 145px 0px;
}

.page-header__sign {
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin: 65px 400px 145px 0px;
}

.page-header__info a {
  text-decoration: none;
  color: #4b5d68;
}

.page-header__button {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: none;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  padding: 17px 69px 17px 29px;
  margin-top: 50px;
  cursor: pointer;
}

.page-header__button:hover {
  background-color: #f8f8f8;
}

.fa-arrow-right {
  padding-left: 20px;
  color: #9c69e2;
}

.section-info__header {
  font-family: "Helvetica Neue", sans-serif;
  max-width: 645px;
  width: 100%;
  max-height: 184px;
  height: 100%;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  margin: 0px 715px 50px 240px;
}

.section-info__description {
  font-family: "Avenir", sans-serif;
  max-width: 380px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  margin: 0px 868px 50px 240px;
}

.section-info__button {
  font-family: "Avenir";
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  padding: 16px 37px;
  border: none;
  border-radius: 50px;
  background-color: #9c69e2;
  margin: 0px 240px;
  cursor: pointer;
}

.section-info__button:hover {
  background-color: #7e58b1;
}

.section-info__img {
  position: absolute;
  width: 885px;
  height: 468px;
  left: 603px;
  top: 336px;
}

.section-exposition {
  max-width: 1117px;
  width: 100%;
  max-height: 560px;
  height: 100%;
  background: rgba(240, 99, 184, 0.15);
  margin: 200px 243px 150px 243px;
  border-radius: 50px;
  display: flex;
  margin-bottom: 150px;
}

.section-exposition__img {
  padding: 32px 62px 24px 11px;
}

.section-exposition__block {
  padding: 125px 92px 125px 0px;
}

.section-exposition__block-header {
  font-family: "Helvetica Neue", sans-serif;
  width: 475px;
  height: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 40px;
}

.section-exposition__block-description {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}

.features {
  max-width: 1136px;
  width: 100%;
  max-height: 1002px;
  width: 100%;
  margin: 0px 243px 174px 240px;
}

.section-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-features__header {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 50px;
}

.section-features__description {
  width: 584px;
  height: 58px;
  font-family: "Avenir";
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  text-align: center;
  margin-bottom: 149px;
}

.section-features__block {
  display: flex;
  flex-wrap: wrap;
}

.section-features__search {
  display: flex;
}

.section-features__search-info-block {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.section-features__search-img {
  width: 232px;
  height: 211px;
  padding: 24px 29px 0px 0px;
}

.section-features__search-header {
  width: 200px;
  height: 50px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.section-features__search-description {
  width: 220px;
  height: 160px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  margin-bottom: 20px;
}

.section-features__search-link {
  font-family: "Avenir";
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #212353;
  text-decoration: none;
}

.section-features__access {
  display: flex;
}

.section-features__access-info-block {
  display: flex;
  flex-direction: column;
}

.secton-features__access-img {
  width: 241px;
  height: 185px;
  padding: 24px 33px 0px 0px;
}

.section-features__access-header {
  width: 200px;
  height: 50px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.section-features__access-description {
  width: 220px;
  height: 160px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  margin-bottom: 20px;
}

.section-features__access-link {
  font-family: "Avenir";
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #212353;
  text-decoration: none;
  margin-bottom: 132px;
}

.section-features__print {
  display: flex;
}

.section-features__print-img {
  width: 245px;
  height: 181px;
  padding: 74px 15px 0px 0px;
}

.section-feature__print-info-block {
  display: flex;
  flex-direction: column;
  margin-right: 97px;
}

.section-feature__print-header {
  width: 200px;
  height: 50px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.section-feature__print-description {
  width: 220px;
  height: 160px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  margin-bottom: 21px;
}

.section-feature__print-link {
  font-family: "Avenir";
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #212353;
  text-decoration: none;
  margin-bottom: 132px;
}

.section-features__security {
  display: flex;
}

.section-features__security-img {
  width: 230px;
  height: 201px;
  padding: 37px 39px 0px 0px;
}

.section-features__security-info-block {
  display: flex;
  flex-direction: column;
}

.section-features__secutiry-header {
  width: 200px;
  height: 50px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.section-features__secutiry-description {
  width: 220px;
  height: 160px;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  margin-bottom: 20px;
}

.section-features__secutiry-link {
  font-family: "Avenir";
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #212353;
  text-decoration: none;
}

.testimonials {
  width: 1118px;
  height: 709px;
  background-color: #9c69e2;
  border-radius: 50px;
  margin-left: 242px;
  margin-bottom: 150px;
}

.testimonials__header {
  font-family: "Helvetica", sans-serif;
  font-size: 40px;
  line-height: 52px;
  line-height: 130%;
  padding: 109px 620px 88px 93px;
  color: #ffffff;
}

.testimonials__user-block {
  width: 949px;
  height: 330px;
  background-color: #ffffff;
  display: flex;
  margin-left: 93px;
  border-radius: 20px;
  box-shadow: 0px 20px 0px rgba(110, 63, 175, 0.3);
}

.testimonials__user-img {
  padding: 60px 44px 180px 103px;
}

.testimonials__user-info {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.testimonials__user-name {
  font-family: Avenir;
  font-size: 18px;
  line-height: 160%;
  color: #212353;
}

.testimonials__user-email {
  font-family: "Avenir", sans-serif;
  font-size: 14px;
  line-height: 160%;
  text-decoration: none;
  color: #9c69e2;
  margin-bottom: 19px;
}

.testimonials__user-response {
  height: 130px;
  width: 566px;
  font-family: "Avenir", sans-serif;
  font-size: 18px;
  line-height: 180%;
  color: #4b5d68;
}

.testimonials__scroll {
  display: flex;
  justify-content: space-between;
  padding: 60px 93px;
}

.testimonial__scroll-dots {
  cursor: pointer;
}

.testimonials__left-arrow {
  margin-right: 20px;
}

hr {
  color: #9c69e2;
  margin-bottom: 100px;
}

.footer-first-block {
  display: flex;
}

.footer-first-block__header {
  font-family: "Helvetica", sans-serif;
  font-size: 40px;
  color: #212353;
}

.footer-first-block__validity {
  font-family: "Avenir", sans-serif;
  font-size: 18px;
  color: #4B5D68;
}

.footer-first-block {
  display: flex;
  justify-content: space-around;
  margin-bottom: 160px;
}

.footer-first-block__offer {
  margin-left: 50px;
}

.footer-first-block__buttons {
  display: flex;
  justify-content: space-between;
}

.footer-first-block__pink-button {
  padding: 16px 37px;
  background-color: #F063B8;
  font-family: "Avenir", sans-serif;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  margin-right: 50px;
}

.footer-first-block__pink-button:hover {
  cursor: pointer;
  background-color: #e45faf;
}

.footer-first-block__white-button {
  padding: 17px 29px;
  border: none;
  border-radius: 50px;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.footer-first-block__white-button:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.footer-second-block {
  display: flex;
  justify-content: space-around;
  padding: 0px 50px;
  margin-left: 70px;
}

.footer-second-block__rectangle-violet {
  width: 20px;
  height: 20px;
  background: #9c69e2;
  border-radius: 20px;
  margin-top: 15px;
}

.footer-second-block__rectangle-pink {
  width: 20px;
  height: 35px;
  background: #f063b8;
  border-radius: 20px;
}

.footer-second-block__rectangles {
  display: flex;
  justify-content: space-around; 
  margin-bottom: 67px;
}

.footer-second-block__data {
  font-family: "Avenir", sans-serif;
  font-size: 20px;
  color: #212353;
  font-weight: 800;
}

.footer-second-block__adress {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  color: #212353;
  line-height: 29px;
  margin-bottom: 10px;
}

.footer-second-block__mail-phone {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #212353;
  margin-bottom: 93px;
}

.footer-second-block__about-header {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  color: #212353;
  font-weight: 800;
  padding-top: 7px;
}

.footer-second-block__about-items {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  color: #212353;
  padding-bottom: 15px;
  cursor: pointer;
}

.footer-second-block__help-header {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  color: #212353;
  font-weight: 800;
  padding-top: 7px;
}

.footer-second-block__help-items {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  color: #212353;
  padding-bottom: 15px;
  cursor: pointer;
}

.footer-secong-block__header {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  color: #212353;
  font-weight: 800;
  padding-top: 7px;
}

.footer-second-block__facebook-button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50px;
}

.footer-second-block__facebook-button:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

.footer-second-block__twitter-button {
  padding-top: 5px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50px;
}

.footer-second-block__twitter-button:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

.footer-second-block__instagram-button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50px;
}

.footer-second-block__instagram-button:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

.footer-third-block {
  display: flex;
  justify-content: space-around;
}

.footer-third-block__copyright {
  font-family: "Avenir", sans-serif;
  font-size: 12px;
  line-height: 22px;
  margin-right: 300px;
}

.footer-third-block__button {
  height: 60px;
  width: 60px;
  border: none;
  padding: 15px 16px;
  border-radius: 50px;
}

.footer-third-block__button:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}