header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.posts {
  border-top: 1px solid black;
  margin-top: -17px;
  padding-top: 15px;
}

.photos {
    gap: 25px;

}

.photos img {
    width: 380px;
}

@media screen and (max-width:576px) {
    .section-info {
        flex-wrap: wrap;
    }
}