.darkblue-cookie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 72px;
  background-color: #0b2239;
}

.cookie-notice {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  margin-right: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.setting a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4ad295;
  margin-right: 15px;
}

.accept button {
  padding-right: 120px;
  background: #4AD295;
  border: none; 
  border-radius: 2px;
  padding: 10px 8px;
  color: #fff;
}