.darkblue-cookie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 72px;
  background-color: #0b2239;
}

.darkblue-cookie__notice {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  margin-right: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.darkblue-cookie__setting a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color: #4ad295;
  margin-right: 15px;
}

.darkblue-cookie__setting a:hover {
  text-decoration: underline;
}

.darkblue-cookie__accept button {
  cursor: pointer;
  padding-right: 120px;
  background: #4ad295;
  border: none;
  border-radius: 2px;
  padding: 10px 8px;
  color: #fff;
}

.darkblue-cookie__accept button:hover {
  background: #3bab79;
}

.grey-cookie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 52px;
  background: #2b2627;
  margin-top: 24px;
}

.grey-cookie__exclamation-mark-img {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.grey-cookie__notification {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 13px;
  width: 630px;
  height: 20px;
}

.grey-cookie__notification a {
  color: #fff;
}

.grey-cookie__cross-sign-img img {
  width: 16px;
  height: 16px;
}

.grey-cookie__cross-sign-img {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

.pink-cookie {
  margin-top: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 560px;
  height: 72px;
  background: #fff;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
}

.pink-cookie__bitten-cookie-img {
  background: rgba(234, 76, 137, 0.1);
  width: 16px;
  height: 16px;
  padding: 8px 8px 8px 8px;
  border-radius: 10px;
}

.pink-cookie__notification a {
  text-decoration: none;
  color: #ea4c89;
}

.pink-cookie__notification a:hover {
  text-decoration: underline;
}

.pink-cookie__decline button {
  background: #0d0c220d;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
}

.pink-cookie__decline button:hover {
  background: #0d0c221a;
}

.pink-cookie__allow button {
  color: #fff;
  background: #ea4c89;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
}

.pink-cookie__allow button:hover {
  background: #ff4a90;
}

.light-grey-cookie {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 560px;
  height: 72px;
  background: #26262b;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #ffff;
}

.light-grey-cookie a {
  color: #e6842e;
  text-decoration: none;
}

.light-grey-cookie a:hover {
  text-decoration: underline;
}

.light-grey-cookie__allow button {
  color: #26262b;
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
}

.light-grey-cookie__allow button:hover {
  background: #edebeb;
}

.blue-and-green-cookies {
  display: flex;
  margin-top: 72px;
}

.blue-cookie {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 206px;
  background: rgba(28, 37, 64, 0.95);
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 6px;
}

.blue-cookie__top-block {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blue-cookie__notice {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.blue-cookie__notification {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.blue-cookie__notification a {
  color: #ffffff;
}

.blue-cookie__bottom-block {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.blue-cookie__managing-preferences {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-left: 7px;
  padding-right: 27px;
  margin-bottom: 8px;
}

.blue-cookie__managing-preferences a {
  text-decoration: none;
  color: #ffffff;
}

.blue-cookie__managing-preferences a:hover {
  text-decoration: underline;
}

.blue-cookie__accept {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-right: 15px;
}

.blue-cookie__accept button {
  cursor: pointer;
  background: #09b3af;
  color: #ffff;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
}

.blue-cookie__accept button:hover {
  background: #0b9a96;
}

.green-cookie {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  background: #ffff;
  width: 360px;
  height: 170px;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
}

.green-cookie__notice {
  width: 132px;
  height: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #0f181d;
}

.green-cookie__notification {
  width: 328px;
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #687f8c;
  margin-top: 10px;
}

.green-cookie__managing {
  width: 144px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-right: 23px;
}

.green-cookie__managing button {
  color: #687f8c;
  width: 160px;
  height: 32px;
  background: #eaf0f4;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

.green-cookie__managing button:hover {
  background: #bbc5cb;
}

.green-cookie__accept {
  width: 144px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.green-cookie__accept button {
  color: #ffffff;
  width: 160px;
  height: 32px;
  background: #40c1a7;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

.green-cookie__accept button:hover {
  background: #35a38d;
}

.green-cookie__top-block {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.green-cookie__bottom-block {
  display: flex;
  align-items: flex-end;
  margin-left: 16px;
}

.light-blue-and-last {
  margin-top: 72px;
  display: flex;
}

.light-blue-cookie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 32px;
  margin-right: 40px;
}

.light-blue-cookie__title {
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: 900;
  font-size: 28px;
  color: #15295a;
  margin-bottom: 10px;
}

.light-blue-cookie__notification {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #15295a;
  text-align: center;
  width: 256px;
  margin-bottom: 32px;
}

.light-blue-cookie__button {
  background-color: #4a7eff;
  border: none;
  border-radius: 43px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 32px;
  color: #fff;
  cursor: pointer;
}

.light-blue-cookie__button:hover {
  background-color: #436aca;
}

.last-cookie {
  background: #ffffff;
  border-radius: 4px;
  width: 320px;
  height: 137px;
  box-sizing: border-box;
  padding: 16px;
  font-family: "SF Pro Display", sans-serif;
}

.last-cookie__message {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.last-cookie__bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-cookie__policy {
  color: #6666ff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.last-cookie__policy a {
  color: #6666ff;
  text-decoration: none;
}

.last-cookie__button {
  color: white;
  background: #6666ff;
  border: none;
  border-radius: 4px;
  padding: 8px;
}
