
body {
    background-color: rgb(44, 43, 43);
}

.rounded-corners {
    margin-bottom: 30px;
    color: white;
}

    table.rounded-corners {
        border-spacing: 0;
        border-collapse: separate;
        /* border-radius: 10px; */
        border: 1px solid white;
       }
       
    
.rounded-corners tr {
    border: 1px solid white;
}

.rounded-corners__names {
    width: 350px;
    text-align: left;
    padding: 10px;
}

.rounded-corners__dates {
    display: flex;
    justify-content: space-between;
    width: auto;
    text-align: left;
    padding: 10px;
}

.rounded-corners__dates-th {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.rounded-corners__dates-td {
    display: flex;
    justify-content: space-between;
    width: 350px;
    text-align: left;
    padding: 10px;
}

.rounded-corners__dates-td {
    color: #b8b4b4;
}

.rounded-corners__dates-td button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}